/*
We are using Bulma's CSS framework. Refer to documentation here "https://bulma.io/documentation/overview/start/"
*/
/*Dropdown ingredients*/

:root{
--rich-black-fogra-29: #011627ff;
--antique-ruby: #8b2635ff;
--metallic-seaweed: #177e89ff;
--marigold: #f3a712ff;
--ash-gray: #c2c5bbff;
}

html{
    background-color: var(--antique-ruby);
}

main {
    display: flex;
    justify-content: space-evenly;
}

/*.card{
    margin: 5px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 7px;
    height: 300px;
    width: 300px;
    background-color: var(--antique-ruby);
    color: var(--marigold);
}*/

.columns{
    margin: 20px;
    margin-top: 10px;
}

#ingr-container {
    display: inline-flex;
    flex-direction: column;
    flex: 0 0 20%;
    margin: 0;
}

#card-container {
    display: inline-flex;
    flex: 0 0 78%;
    margin: 0;
}

#notification {
    width: 88%;
    height: fit-content;
}

.myIngredients {
    text-transform: capitalize;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#block-1, #ingr-list{
    overflow: auto;
    max-height: 150px;
}

#ingr-list li {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.dropdown-content {
    padding-top: 0;
}

.dropdown-content div {
    display: block;
}

.dropdown-content div:hover {
    background-color: #f1f1f1
}

.remove {
    display: inline-block;
    position: absolute;
    right: 15px;
    cursor: pointer;
    user-select: none;
}

#searchBtn {
    margin-bottom: 20px;
}

#myIngrHeader {
    background-color: #ffe08a;
}

.modal-content .box h2, .modal-content .box{
    background-color: var(--antique-ruby);
    color: white;
}

.measModal {
    display: inline-flex;
    flex-direction: column;
    width: fit-content;
    align-items: flex-end;
    margin-right: 10px;
}

.ingrModal {
    display: inline-flex;
    flex-direction: column;
}

@media screen and (max-width: 1080px) {

    .tile {
        display: flex;
        flex: 0 0 48%!important;
    }

    #ingr-container {
        flex: 0 0 45%!important;
    }
    
    #card-container {
        flex: 0 0 45%!important;
    }
}

@media screen and (max-width: 888px) {
    main {
        flex-wrap: wrap;
    }

    .tile {
        display: flex;
        flex: 0 0 98%!important;
    }
}

@media screen and (max-width: 420px) {
    #ingr-container {
        flex: 0 0 98%!important;
    }
    
    #card-container {
        flex: 0 0 98%!important;
    }
}